<h1>Ini maps</h1>

<div>
     <iframe width="500" height="400" frameborder="0" src="https://www.bing.com/maps/embed?h=400&w=500&cp=-6.5969750180418885~106.80118417724609&lvl=13&typ=d&sty=r&src=SHELL&FORM=MBEDV8" scrolling="no">
     </iframe>
     <div style="white-space: nowrap; text-align: center; width: 500px; padding: 6px 0;">
        <a id="largeMapLink" target="_blank" href="https://www.bing.com/maps?cp=-6.5969750180418885~106.80118417724609&amp;sty=r&amp;lvl=13&amp;FORM=MBEDLD">View Larger Map</a> &nbsp; | &nbsp;
        <a id="dirMapLink" target="_blank" href="https://www.bing.com/maps/directions?cp=-6.5969750180418885~106.80118417724609&amp;sty=r&amp;lvl=13&amp;rtp=~pos.-6.5969750180418885_106.80118417724609____&amp;FORM=MBEDLD">Get Directions</a>
    </div>
</div>
