{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Caveat' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet'>

    <title>Laucal Laundry</title>
  </head>

  <style>
    html{
      min-height:100%;
    }
    body{
      background-image:url(https://i.imgur.com/oxR8023.png);
      background-repeat:no-repeat;
      background-size:cover;
      /* height: 300px; */
    }
    .container{
      /* height:100vh; */
      width: inherit;
      justify-content: center;
      text-align: center;
    }
    /* img.displayed {
      max-height: 150%;
      max-width: 100%;
      height: 65%;
      width: 55%;
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      box-sizing: border-box;
      margin: auto;
      z-index: -1;
      margin-left: auto;
      margin-right: auto;
    } */
    img.displayed {
      max-height: 150%;
      max-width: 100%;
      height: 65vh;
      width: 55vw;
      display: block;
      /* position: absolute; */
      margin-top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      box-sizing: border-box;
      margin: auto;
      z-index: -1;
    }
    .shadowow{
      -webkit-filter: drop-shadow(10px 10px 10px #9593D9);
      filter: drop-shadow(10px 10px 10px #9593D9);
    }
    .shadowCSS {
	    box-shadow: 12px 12px 7px rgba(0,0,0,0.5);
    }
    .centered{
      position: absolute;
      top:15%;
      left:51%;
      transform:translate(-50%,-50%);
      font-size: 30px;
      font-family: "Comfortaa";
      /* text-align: center; */
    }
    h1, h2 {
      display: table-cell;
      vertical-align:middle;
      margin-top: 200px;
      /* font-family: "Comfortaa"; */
      /* font-weight: bold; */
      color: #4A4063;
      text-align: center;
      z-index:1000;
      position: relative;
    }
    /* .divdua{
      position: absolute;
      top:49%;
      left:35%;
      transform:translate(-50%,-50%);
      font-size: 30px;
      font-family: "Comfortaa";
      weight:100%
      height:100%
    }
    .divduadua{
      background-color: #ffcbdab0
      position: absolute;
      top:60%;
      left:100%;
      transform:translate(-50%,-50%);
      font-size: 30px;
      font-family: "Comfortaa";
    } */
    .centereddua{
      position: absolute;
      top:50%;
      left:51%;
      transform:translate(-50%,-50%);
      font-size: 30px;
      font-family: "Caveat";
      margin-top: 90px;
    }
    .button_aing{
      width: 55px;
      height: 55px;
      text-align: center;
      display: block;
      margin-left: auto;
      margin-right: auto;
      bottom:150px;
      margin-top: 87px;
    }
    .myButton{
    background:url(../static/main/button_congrats.png) no-repeat;
    cursor:pointer;
    border:none;
    width:55px;
    height:55px;
    }
    .myButton:active {
     background:url(../static/main/button_congrats.png) no-repeat;
   }

  </style>

  <body>
    <div class="container">
      <div class="container" style="margin-top:100px;">
        <img class= "displayed shadowow" src= "{% static 'main/start_navigation.png' %}" alt= "start">
        <div class= "row centered">

          <h1>Congratulations!<br>you've finished your journey!</h1>
        </div>
        <div class="row centereddua">
          <div class="col-sm-7">
            <h2>Total jarak:</h2>
          </div>
          <div class="col-sm-5" style="background-color:#ffcbdab0; border-style:solid; border-radius:10px">
            <h2 class="text-center">{{ jarak }} km</h2>
          </div>
          <a href="{% url 'welcome' %}" style="margin-left: 42.5%;">
            <img class= "button_aing myButton" src= "{% static 'main/button_congrats.png' %}" alt= "button">
          </a>
          <!-- <input type="image" name="submit" value="submit" src="{% static 'main/button_congrats.png' %}" /> -->
          <!-- <input class="myButton" type="submit" value=""> -->
        </div>
        <div class= "row">
          <!-- <img class= "button_aing" src= "{% static 'button_congrats.png' %}" alt= "button"> -->
        </div>
      </div>
      </div>

  </body>
