{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Caveat' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet'>

    <title>Laucal Laundry</title>
  </head>

  <style>
    html{
      min-height:100%;
    }
    body{
      background-image:url(https://i.imgur.com/oxR8023.png);
      background-repeat:no-repeat;
      background-size:cover;
    }
    .forms{
      background-color: rgba(74,64,99,0.8);
      padding-bottom: 15px;
      padding-top: 15px;
    }
    .brand{
      justify-content: center;
    }
    button{
      float: right;
    }
    h4, label{
      color: white;
    }
    h1, h4{
      color: #FFEA35;
      font-family: 'Caveat';
      font-size: 65px;
    }
    h4 {
      font-size: 35px;
    }
    #laucal {
      font-family: 'Comfortaa';
      font-size: 45px;
      font-weight: bold;
    }
    .vl{
      border-left: 6px solid #FFEA35;
      height: 100%;
      position: absolute;
      left: 50%;
      margin-left: -3px;
      top: 0;
    }
    button {
      background-color: rgba(149,147,217,0.8);
      color: white;
    }
    button:hover {
      background-color: #FFEA35;
      color: #4A4063;
    }
    label,button {
      font-family: 'Comfortaa';
      font-size: 15px;
    }
  </style>

  <body>

    <content>
      <div class="container">
        <div class="row">
          <div class="col-sm-5" style="height:100vh">
            <div class="row">
              <img src="{% static 'main/logo_laucal_shadow.png' %}" alt="logo" class="img-responsive" style="width:100%; height: 100%;">
            </div>
            <div class="row brand">
              <h1 id="laucal">LAUCAL Laundry</h1>
              <h4>cleaner, better, faster</h4>
            </div>
          </div>
          <div class="col-sm-7 align-self-center">
            <div class="container forms">
              <div class="row">
                <div class="col-sm-5">
                  <h4>Sign Up</h4>
                  <form class="form-signup" action="post" method="post" name="form">
                    <!-- {% csrf_token %} -->
                    <div class="form-group">
                      <label for="name">Name:</label>
                      <input type="text" class="form-control" id="name" name="name">
                      <!-- {{ signup_form.name }} -->
                    </div>
                    <div class="form-group">
                      <label for="name">Email:</label>
                      <input type="text" class="form-control" id="email" name="email">
                      <!-- {{ signup_form.username }} -->
                    </div>
                    <div class="form-group">
                      <label for="pwd">Password:</label>
                      <input type="password" class="form-control" id="pwd" name="password">
                      <!-- {{ signup_form.password }} -->
                    </div>
                    <button type="submit" class="btn btn-default">Sign Up</button>
                  </form>
                </div>
                <div class="col-sm-1">
                  <div class="vl"></div>
                </div>
                <div class="col-sm-6">
                  <h4>Log In</h4>
                  <form class="form-login" action="signin" method="post" name="form">
                    <!-- {% csrf_token %} -->
                    <div class="form-group">
                      <label for="name">Email:</label>
                      <input type="text" class="form-control" id="username" name="email">
                    </div>
                    <div class="form-group">
                      <label for="pwd">Password:</label>
                      <input type="password" class="form-control" id="pwd" name="password">
                    </div>
                    <button type="submit" class="btn btn-default">Log In</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </content>

  </body>
</html>
