{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Caveat' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet'>

    <title>Input Bodong</title>
  </head>

  <body>
    <div class="container">
      <form action="#" method="post" id="form-perjalanan">
        {% csrf_token %}
        <div class="form-group">
          <label for="dari">Dari:</label>
          <input type="text" class="form-control" id="dari">
          <!-- {{ signup_form.name }} -->
        </div>
        <div class="row">
          <h2>Maap numpang lewat</h2>
        </div>
        <div class="row">
          <h2>Maap numpang lewat lagi haha</h2>
        </div>
        <div class="row">
          <img src="{% static 'main/logo_laucal_shadow.png' %}" alt="logo" class="img-responsive" style="width:100%; height: 100%;">
        </div>
        <div class="row brand">
          <h1 id="laucal">LAUCAL Laundry</h1>
          <h4>cleaner, better, faster</h4>
        </div>
        <div class="form-group">
          <label for="username">Tujuan:</label>
          <input type="text" class="form-control" id="tujuan">
          <!-- {{ signup_form.username }} -->
        </div>
        <button type="submit" class="btn btn-default">Let's go!</button>
      </form>
    </div>
  </body>

  <script>
    $("#form-perjalanan").on("submit", function() {
      dari = $("#dari").val();
      tujuan = $("#tujuan").val();
      startRouting(dari, tujuan);
    });

    var startRouting = function(dari, tujuan) {
      $.ajax({
        method: "POST",
        url: "{% url 'routing' %}",
        data: {
          'dari': dari,
          'tujuan': tujuan,
        }
      })
    };

    // $(document).ajaxSend(function(event, xhr, settings) {
    //     function getCookie(name) {
    //         var cookieValue = null;
    //         if (document.cookie && document.cookie != '') {
    //             var cookies = document.cookie.split(';');
    //             for (var i = 0; i < cookies.length; i++) {
    //                 var cookie = jQuery.trim(cookies[i]);
    //                 // Does this cookie string begin with the name we want?
    //                 if (cookie.substring(0, name.length + 1) == (name + '=')) {
    //                     cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
    //                     break;
    //                 }
    //             }
    //         }
    //         return cookieValue;
    //     }
    //     function sameOrigin(url) {
    //         // url could be relative or scheme relative or absolute
    //         var host = document.location.host; // host + port
    //         var protocol = document.location.protocol;
    //         var sr_origin = '//' + host;
    //         var origin = protocol + sr_origin;
    //         // Allow absolute or scheme relative URLs to same origin
    //         return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
    //             (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
    //             // or any other URL that isn't scheme relative or absolute i.e relative.
    //             !(/^(\/\/|http:|https:).*/.test(url));
    //     }
    //     function safeMethod(method) {
    //         return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    //     }
    //
    //     if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
    //         xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
    //     }
    // });
  </script>

</html>
