{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="refresh" content="3;url={% url 'route' %}"> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Caveat' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet'>

    <title>Laucal Laundry</title>
  </head>

    <style>

      /* @media (min-width: 640px) { body {font-size:1rem;} }
      @media (min-width:960px) { body {font-size:1.2rem;} }
      @media (min-width:1100px) { body {font-size:1.5rem;} } */
      html{
        min-height:100%;
        /* font-size: 100%; */
      }
      body{
        background-image:url(https://i.imgur.com/oxR8023.png);
        background-repeat:no-repeat;
        background-size:cover;
      }
      .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        height: 50%;
      }
      img {
        opacity: 0.75;
        filter: alpha(opacity=50); /* For IE8 and earlier */
        margin-top: 50px;
        z-index: -1;
      }
      h1, h2 {
        display: table-cell;
        vertical-align:middle;
        margin-top: 100px;
        font-family: "Caveat";
        font-weight: bold;
        color: #E3D7FF;
        text-align: center;
        z-index:1000;
        position: relative;

      }
      .centered{
        position: absolute;
        top:10%;
        left:50%;
        transform:translate(-50%,-50%);
        font-size: 30px;
        font-family: "Caveat";
      }

    </style>
  <body>
    <div class= "container">
      <div class= "row centered">
        <h1>Please wait <br> we are selecting fastest route....</h1>
      </div>

        <div class= "row">
          <img class="med-8x6 center"  alt="Simple Loader 2 gif animation flat green white loader keeprollin orange" src="https://cdn.dribbble.com/users/1098565/screenshots/2942125/loaders_dribble_original5.gif">
        </div>

    </div>
  </body>


    <!-- <div style="width: 1000px; height: 600px; overflow: hidden" class="bar">
  <!-- <div class="circle"></div> -->
    <!-- <img class="med-8x6 center"  alt="Simple Loader 2 gif animation flat green white loader keeprollin orange" src="https://cdn.dribbble.com/users/1098565/screenshots/2942125/loaders_dribble_original5.gif"> -->
<!-- </div> -->



</html>
