{% load staticfiles %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{% static 'data.js' %}" ></script>
<script src="{% static 'sigma.js-1.2.1/src/sigma.core.js' %}"></script>
<script src="{% static 'sigma.js-1.2.1/src/conrad.js' %}"></script>
<script src="{% static 'sigma.js-1.2.1/src/utils/sigma.utils.js' %}"></script>
<script src="{% static 'sigma.js-1.2.1/src/utils/sigma.polyfills.js' %}"></script>
<script src="{% static 'sigma.js-1.2.1/src/sigma.settings.js' %}"></script>
<script src="{% static 'sigma.js-1.2.1/src/classes/sigma.classes.dispatcher.js' %}"></script>
<script src="{% static 'sigma.js-1.2.1/src/classes/sigma.classes.configurable.js' %}"></script>
<script src="{% static 'sigma.js-1.2.1/src/classes/sigma.classes.graph.js' %}"></script>
<script src="{% static 'sigma.js-1.2.1/src/classes/sigma.classes.camera.js' %}"></script>
<script src="{% static 'sigma.js-1.2.1/src/classes/sigma.classes.quad.js' %}"></script>
<script src="{% static 'sigma.js-1.2.1/src/classes/sigma.classes.edgequad.js' %}"></script>
<script src="{% static 'sigma.js-1.2.1/src/captors/sigma.captors.mouse.js' %}"></script>
<script src="{% static 'sigma.js-1.2.1/src/captors/sigma.captors.touch.js' %}"></script>
<script src="{% static 'sigma.js-1.2.1/src/renderers/sigma.renderers.canvas.js' %}"></script>
<script src="{% static 'sigma.js-1.2.1/src/renderers/sigma.renderers.webgl.js' %}"></script>
<script src="{% static 'sigma.js-1.2.1/src/renderers/sigma.renderers.svg.js' %}"></script>
<script src="{% static 'sigma.js-1.2.1/src/renderers/sigma.renderers.def.js' %}"></script>
<script src="{% static 'sigma.js-1.2.1/src/renderers/webgl/sigma.webgl.nodes.def.js' %}"></script>
<script src="{% static 'sigma.js-1.2.1/src/renderers/webgl/sigma.webgl.nodes.fast.js' %}"></script>
<script src="{% static 'sigma.js-1.2.1/src/renderers/webgl/sigma.webgl.edges.def.js' %}"></script>
<script src="{% static 'sigma.js-1.2.1/src/renderers/webgl/sigma.webgl.edges.fast.js' %}"></script>
<script src="{% static 'sigma.js-1.2.1/src/renderers/webgl/sigma.webgl.edges.arrow.js' %}"></script>
<script src="{% static 'sigma.js-1.2.1/src/renderers/canvas/sigma.canvas.labels.def.js' %}"></script>
<script src="{% static 'sigma.js-1.2.1/src/renderers/canvas/sigma.canvas.hovers.def.js' %}"></script>
<script src="{% static 'sigma.js-1.2.1/src/renderers/canvas/sigma.canvas.nodes.def.js' %}"></script>
<script src="{% static 'sigma.js-1.2.1/src/renderers/canvas/sigma.canvas.edges.def.js' %}"></script>
<script src="{% static 'sigma.js-1.2.1/src/renderers/canvas/sigma.canvas.edges.curve.js' %}"></script>
<script src="{% static 'sigma.js-1.2.1/src/renderers/canvas/sigma.canvas.edges.arrow.js' %}"></script>
<script src="{% static 'sigma.js-1.2.1/src/renderers/canvas/sigma.canvas.edges.curvedArrow.js' %}"></script>
<script src="{% static 'sigma.js-1.2.1/src/renderers/canvas/sigma.canvas.edgehovers.def.js' %}"></script>
<script src="{% static 'sigma.js-1.2.1/src/renderers/canvas/sigma.canvas.edgehovers.curve.js' %}"></script>
<script src="{% static 'sigma.js-1.2.1/src/renderers/canvas/sigma.canvas.edgehovers.arrow.js' %}"></script>
<script src="{% static 'sigma.js-1.2.1/src/renderers/canvas/sigma.canvas.edgehovers.curvedArrow.js' %}"></script>
<script src="{% static 'sigma.js-1.2.1/src/renderers/canvas/sigma.canvas.extremities.def.js' %}"></script>
<script src="{% static 'sigma.js-1.2.1/src/renderers/svg/sigma.svg.utils.js' %}"></script>
<script src="{% static 'sigma.js-1.2.1/src/renderers/svg/sigma.svg.nodes.def.js' %}"></script>
<script src="{% static 'sigma.js-1.2.1/src/renderers/svg/sigma.svg.edges.def.js' %}"></script>
<script src="{% static 'sigma.js-1.2.1/src/renderers/svg/sigma.svg.edges.curve.js' %}"></script>
<script src="{% static 'sigma.js-1.2.1/src/renderers/svg/sigma.svg.labels.def.js' %}"></script>
<script src="{% static 'sigma.js-1.2.1/src/renderers/svg/sigma.svg.hovers.def.js' %}"></script>
<script src="{% static 'sigma.js-1.2.1/src/middlewares/sigma.middlewares.rescale.js' %}"></script>
<script src="{% static 'sigma.js-1.2.1/src/middlewares/sigma.middlewares.copy.js' %}"></script>
<script src="{% static 'sigma.js-1.2.1/src/misc/sigma.misc.animation.js' %}"></script>
<script src="{% static 'sigma.js-1.2.1/src/misc/sigma.misc.bindEvents.js' %}"></script>
<script src="{% static 'sigma.js-1.2.1/src/misc/sigma.misc.bindDOMEvents.js' %}"></script>
<script src="{% static 'sigma.js-1.2.1/src/misc/sigma.misc.drawHovers.js' %}"></script>

<script src="{% static 'sigma.js-1.2.1/plugins/sigma.parsers.json/sigma.parsers.json.js' %}"></script>

<div id="container">
  <style>
    #graph-container {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      position: absolute;
    }
  </style>
  <div id="graph-container"></div>
</div>

<script>
console.log(data);
 s = new sigma({
         graph: data,
         container: 'graph-container',
         settings: {
             defaultNodeColor: '#ec5148'
         }
 });
</script>
