{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Caveat' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'main/data.js' %}" ></script>
    <script src="{% static 'main/sigma.js-1.2.1/src/sigma.core.js' %}"></script>
    <script src="{% static 'main/sigma.js-1.2.1/src/conrad.js' %}"></script>
    <script src="{% static 'main/sigma.js-1.2.1/src/utils/sigma.utils.js' %}"></script>
    <script src="{% static 'main/sigma.js-1.2.1/src/utils/sigma.polyfills.js' %}"></script>
    <script src="{% static 'main/sigma.js-1.2.1/src/sigma.settings.js' %}"></script>
    <script src="{% static 'main/sigma.js-1.2.1/src/classes/sigma.classes.dispatcher.js' %}"></script>
    <script src="{% static 'main/sigma.js-1.2.1/src/classes/sigma.classes.configurable.js' %}"></script>
    <script src="{% static 'main/sigma.js-1.2.1/src/classes/sigma.classes.graph.js' %}"></script>
    <script src="{% static 'main/sigma.js-1.2.1/src/classes/sigma.classes.camera.js' %}"></script>
    <script src="{% static 'main/sigma.js-1.2.1/src/classes/sigma.classes.quad.js' %}"></script>
    <script src="{% static 'main/sigma.js-1.2.1/src/classes/sigma.classes.edgequad.js' %}"></script>
    <script src="{% static 'main/sigma.js-1.2.1/src/captors/sigma.captors.mouse.js' %}"></script>
    <script src="{% static 'main/sigma.js-1.2.1/src/captors/sigma.captors.touch.js' %}"></script>
    <script src="{% static 'main/sigma.js-1.2.1/src/renderers/sigma.renderers.canvas.js' %}"></script>
    <script src="{% static 'main/sigma.js-1.2.1/src/renderers/sigma.renderers.webgl.js' %}"></script>
    <script src="{% static 'main/sigma.js-1.2.1/src/renderers/sigma.renderers.svg.js' %}"></script>
    <script src="{% static 'main/sigma.js-1.2.1/src/renderers/sigma.renderers.def.js' %}"></script>
    <script src="{% static 'main/sigma.js-1.2.1/src/renderers/webgl/sigma.webgl.nodes.def.js' %}"></script>
    <script src="{% static 'main/sigma.js-1.2.1/src/renderers/webgl/sigma.webgl.nodes.fast.js' %}"></script>
    <script src="{% static 'main/sigma.js-1.2.1/src/renderers/webgl/sigma.webgl.edges.def.js' %}"></script>
    <script src="{% static 'main/sigma.js-1.2.1/src/renderers/webgl/sigma.webgl.edges.fast.js' %}"></script>
    <script src="{% static 'main/sigma.js-1.2.1/src/renderers/webgl/sigma.webgl.edges.arrow.js' %}"></script>
    <script src="{% static 'main/sigma.js-1.2.1/src/renderers/canvas/sigma.canvas.labels.def.js' %}"></script>
    <script src="{% static 'main/sigma.js-1.2.1/src/renderers/canvas/sigma.canvas.hovers.def.js' %}"></script>
    <script src="{% static 'main/sigma.js-1.2.1/src/renderers/canvas/sigma.canvas.nodes.def.js' %}"></script>
    <script src="{% static 'main/sigma.js-1.2.1/src/renderers/canvas/sigma.canvas.edges.def.js' %}"></script>
    <script src="{% static 'main/sigma.js-1.2.1/src/renderers/canvas/sigma.canvas.edges.curve.js' %}"></script>
    <script src="{% static 'main/sigma.js-1.2.1/src/renderers/canvas/sigma.canvas.edges.arrow.js' %}"></script>
    <script src="{% static 'main/sigma.js-1.2.1/src/renderers/canvas/sigma.canvas.edges.curvedArrow.js' %}"></script>
    <script src="{% static 'main/sigma.js-1.2.1/src/renderers/canvas/sigma.canvas.edgehovers.def.js' %}"></script>
    <script src="{% static 'main/sigma.js-1.2.1/src/renderers/canvas/sigma.canvas.edgehovers.curve.js' %}"></script>
    <script src="{% static 'main/sigma.js-1.2.1/src/renderers/canvas/sigma.canvas.edgehovers.arrow.js' %}"></script>
    <script src="{% static 'main/sigma.js-1.2.1/src/renderers/canvas/sigma.canvas.edgehovers.curvedArrow.js' %}"></script>
    <script src="{% static 'main/sigma.js-1.2.1/src/renderers/canvas/sigma.canvas.extremities.def.js' %}"></script>
    <script src="{% static 'main/sigma.js-1.2.1/src/renderers/svg/sigma.svg.utils.js' %}"></script>
    <script src="{% static 'main/sigma.js-1.2.1/src/renderers/svg/sigma.svg.nodes.def.js' %}"></script>
    <script src="{% static 'main/sigma.js-1.2.1/src/renderers/svg/sigma.svg.edges.def.js' %}"></script>
    <script src="{% static 'main/sigma.js-1.2.1/src/renderers/svg/sigma.svg.edges.curve.js' %}"></script>
    <script src="{% static 'main/sigma.js-1.2.1/src/renderers/svg/sigma.svg.labels.def.js' %}"></script>
    <script src="{% static 'main/sigma.js-1.2.1/src/renderers/svg/sigma.svg.hovers.def.js' %}"></script>
    <script src="{% static 'main/sigma.js-1.2.1/src/middlewares/sigma.middlewares.rescale.js' %}"></script>
    <script src="{% static 'main/sigma.js-1.2.1/src/middlewares/sigma.middlewares.copy.js' %}"></script>
    <script src="{% static 'main/sigma.js-1.2.1/src/misc/sigma.misc.animation.js' %}"></script>
    <script src="{% static 'main/sigma.js-1.2.1/src/misc/sigma.misc.bindEvents.js' %}"></script>
    <script src="{% static 'main/sigma.js-1.2.1/src/misc/sigma.misc.bindDOMEvents.js' %}"></script>
    <script src="{% static 'main/sigma.js-1.2.1/src/misc/sigma.misc.drawHovers.js' %}"></script>

    <title>Your Route</title>
  </head>

  <style>
    html{
      min-height:100%;
    }
    body{
      background-image:url(https://i.imgur.com/oxR8023.png);
      background-repeat:no-repeat;
      background-size:cover;
    }
    .container {
      margin: 0 auto;
      width: 80%;
    }
    #graph-container {
      top: 12%;
      height: 75%;
      right: 20%;
      left: 20%;
      position: absolute;
      background-color: #E3D7FF;
    }
    .row1 {
      position: absolute;
      width: calc(100%/1.3);
      top: -100px;
    }
    .row3 {
      position: absolute;
      bottom: 10px;
      width: calc(100%/1.3);
      font-family:'Caveat';
      height: 8%;
    }
    #safe {
      background-color: #ffea35b0;
      width: 50%;
      height: 100%;

    }
    h1 {
      text-align: center;
    }

    .fragment {
    font-size: 30px;
    font-family: 'Caveat';
    width: calc(100%/2.6);
    left: 33%;
    /* border: 1px solid #ccc; */
    color: black;
    display: block;
    padding: 10px;
    position: absolute;
    top: -100px;
    text-decoration: none;
    }

    #close {
        float:right;
        display:inline-block;
        /* padding:5px 5px; */
        background:#ccc;
        width: 30px;
        text-align: center;
        /* height: 30px; */
    }

    #close:hover {
            float:right;
            display:inline-block;
            background:#ccc;
            color:#fff;
    }
    #fnsh{
      font-size: 150%;
      display:block;
      position: relative;
      vertical-align: center;
      margin-top: 500px;
      width: 10%;
      left: 100%;
      right: auto;
      background-color: #FFEA35;
      color: #4A4063;
    }
    .topnav {
      overflow: hidden;
      background-color: #4A4063;
      margin-top: 0px;
      width: 100%;
    }
    .topnav a{
      float: left;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      font-family: Comfortaa;
    }

    .topnav a:hover, #logout:hover, #fnsh:hover {
      background-color: #E3D7FF;
      color: #4A4063;
    }

    .topnav a.active, #logout:active {
      background-color: #FFEA35;
      color: #4A4063;
    }
    #logo{
      float: left;
    }

    #logout{
      float: right;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      font-family: Comfortaa;
    }
    #yeay{
      background-color: rgb(227, 215, 255);
      color: #4A4063;
    }
    .btn{
      background-color: hsla(258, 100%, 92%, 0.7);
      color: #4A4063;
    }
  </style>

  <body>
    <div class="topnav">
      <img id="logo" src="{% static 'main/logo_laucal.png' %}" alt="logo" style="width:60px;">
      <a id="home" href="{% url 'welcome' %}">Home</a>
      <a id="sj" class="active" href="#StartJourney">Start Journey</a>
      <a id="logout" href="{% url 'logout' %}">Logout</a>
    </div>
    <div class="container">
      <div class="fragment">
        <span id='close'>x</span>
        <h1 id="yeay" style="font-size: 35px;">Yeay! We've found your fastest route!</h1>
      </div>
      <div class="row">
        <div id="graph-container"></div>
      </div>
      <div class="row3">
        <div class="container" id="safe">
          <h1>Have a safe journey, {{ name }} !</h1>
          <p id="route" style="display:none;"> {{ route }} </p>
          <p id="jarak" style="display:none;"> {{ jarak }} </p>
        </div>
      </div>
      <a type="submit" class="btn btn-default" href="{% url 'congrats'%}" id="fnsh">Finished</a>
    </div>
  </body>

<script>
$('.fragment').animate({top: 0}, 1000);
window.onload = function(){
    document.getElementById('close').onclick = function(){
        this.parentNode.parentNode
        .removeChild(this.parentNode);
        // $('#graph-container').animate({top: '20px'}, {duration: 500, queue: false});
        // $('#graph-container').animate({height: '85%'}, {duration: 500, queue: false});
        // $('#graph-container').animate({width: '75%'}, {duration: 500, queue: false});
        // $('#graph-container').animate({left: '13%'}, {duration: 500, queue: false});
        // $('.row3').animate({bottom: '10px'}, 1000);
        // $('#graph-container').css({top:'15px'});
        return false;
    };
};

console.log("kok kosong itu loh");
console.log($("#route").text());
console.log($("#jarak").text());

var route = $("#route").text();
route = route.replace("'","");
route = route.replace("[","");
route = route.replace("]","");
route = route.split(",");
var jarak = $("#jarak").text();

var i,
    s,
    N = route.length-1,
    E = N,
    g = {
      nodes: [],
      edges: []
    };

// Generate a random graph:
for (i = 0; i < N; i++)
  g.nodes.push({
    id: 'n' + i,
    label: (i+1) + '. ' + route[i],
    x: Math.random(),
    y: Math.random(),
    size: 60,
    color: 'black'
  });

for (i = 0; i < E; i++)
  g.edges.push({
    id: 'e' + i,
    source: 'n' + i,
    target: connectAllEdges(E, i),
    size: Math.random(),
    color: 'black'
  });

function connectAllEdges(nodes, i) {
  if (i == (nodes-1)) {
    return 'n' + 0;
  }
  return 'n' + (i+1);
}


// Instantiate sigma:
s = new sigma({
  graph: g,
  container: 'graph-container'
});

s.bind('clickNode', function(e) {
  if (e.data.node.isSelected) {
    e.data.node.color = "#666";
    e.data.node.isSelected = false;
  } else {
    e.data.node.color = "#0A0";
    e.data.node.size = 40;
    e.data.node.isSelected = true;
    var currentId = e.data.node.id;
    nextIdInt = parseInt(currentId.substring(1))+1
    var nextId = "n" + nextIdInt;
    console.log(currentId);
    console.log(nextId);
    var nextIdInt = parseInt(nextId.substring(1));
    if(nextIdInt < route.length) {
      s.graph.nodes(nextId).size = 90;
    }

    // var nextId = 'n' + parseInt(currentId(1))+1;
    // g.nodes[parseInt(currentId.substring(1))+1].size = 50;
  }
  s.refresh();
});

// console.log(data);
//  s = new sigma({
//          graph: data,
//          container: 'graph-container',
//          settings: {
//              defaultNodeColor: '#ec5148'
//          }
//  });
</script>

</html>
