{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Caveat' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet'>

    <title>Start Journey!</title>
  </head>

  <style>
    html{
      min-height:100%;
    }
    body{
      background-image:url(https://i.imgur.com/oxR8023.png);
      background-repeat:no-repeat;
      background-size:cover;
    }
    #start{
      background-color: hsla(54, 100%, 60%, 0.7);
      color: hsla(257, 21%, 32%, 1);
      font-family: Caveat;
      font-size: 50px;
      margin-top:130px;
      vertical-align: center;
      text-align: center;
      position: relative;
      display: table;
    }
    #dest{
      background-color: hsla(180, 86%, 49%, 0.7);
      color: hsla(257, 21%, 32%, 1);
      font-family: Caveat;
      font-size: 40px;
      margin-top: 100px;
      position: relative;
      display: table;
      vertical-align: center;
    }
    .dropdown{
      left: 30% !important;
      right: auto;
      position: relative;
      text-align: center;
    }
    .dropdown1{
      left: 22.5% !important;
      right: auto;
      text-align: center;
      vertical-align: center;
    }
    .dropbtn {
      background-color: hsla(54, 100%, 60%, 0.7);
      color: hsla(257, 21%, 32%, 1);
      padding: 25px;
      font-size: 50px;
      border: none;
      cursor: pointer;
      position: relative;
    }
    .dropbtn1 {
      background-color: hsla(180, 86%, 49%, 0.7);
      color: hsla(257, 21%, 32%, 1);
      padding: 25px;
      font-size: 50px;
      border: none;
      cursor: pointer;
    }
    /* .dropbtn:focus{
      background-color: hsla(54, 100%, 60%, 0.7);
    } */
    .dropbtn:hover, .dropbtn1:hover{
      background-color: hsla(258, 100%, 92%, 0.95);
    }
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: hsla(257, 21%, 32%, 0.7);
      min-width: 100%;
      overflow: auto;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    .dropdown-content1 {
      display: none;
      position: absolute;
      background-color: hsla(257, 21%, 32%, 0.7);
      min-width: 100%;
      overflow: auto;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    .dropdown-content a {
      color: #E3D7FF;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }

    .dropdown-content1 a {
      color: #E3D7FF;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }

    .show {display: block;}

    .forms{
      background-color: rgba(74,64,99,0.8);
      padding-bottom: 15px;
      padding-top: 15px;
    }
    .select-box{
      font-size: 50%;
      font-family: Comfortaa;
      position: relative;
      text-align: center;
      vertical-align: center;
      background-color: hsla(258, 100%, 92%, 0.8);
      color: #4A4063;
      left: 22.5%;
      right: auto;
    }
    .btn{
      position: relative;
      vertical-align: center;
      margin: 4px 2px;
      left: 175%;
      right: auto;
      background-color: hsla(54, 100%, 60%, 0.75);
      color: hsla(257, 21%, 32%, 1);
      font-family: Comfortaa;
    }
    .btn:hover{
      background-color: hsla(54, 100%, 60%, 1);
    }
    .form-group1{
      font-size: 55%;
      font-family: Comfortaa;
      position: relative;
      text-align: center;
      vertical-align: center;
      margin-top: 30px;
    }
    .form-control1{
      width: 90%;
    }
    .btn1{
      position: relative;
      vertical-align: center;
      margin: 4px 2px;
      margin-top: 30px;
      left: 38%;
      right: auto;
      background-color: hsla(180, 86%, 49%, 0.75);
      color: hsla(257, 21%, 32%, 1);
      font-family: Comfortaa;
      font-size: 55%;
    }
    .btn1:hover{
      background-color: hsla(180, 86%, 49%, 1);
    }
    #letsgo{
      font-size: 150%;
      display:block;
      position: relative;
      vertical-align: center;
      margin-top: 50px;
      left: 90%;
      right: auto;
    }
    .topnav {
      overflow: hidden;
      background-color: #4A4063;
      margin-top: 0px;
      width: 100%;
    }
    .topnav a{
      float: left;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      font-family: Comfortaa;
    }

    .topnav a:hover, #logout:hover {
      background-color: #E3D7FF;
      color: #4A4063;
    }

    .topnav a.active, #logout:active {
      background-color: #FFEA35;
      color: #4A4063;
    }
    #logo{
      float: left;
    }

    #logout{
      float: right;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      font-family: Comfortaa;
    }
  </style>

  <body>
      <content>
        <div class="topnav">
          <img id="logo" src="{% static 'main/logo_laucal.png' %}" alt="logo" style="width:60px;">
          <a id="home" href="{% url 'welcome' %}">Home</a>
          <a id="sj" class="active" href="#StartJourney">Start Journey</a>
          <a id="logout" href="{% url 'logout' %}">Logout</a>
        </div>
        <div class="container">
          <div id="start" class="dropdown">
            <button onclick="myFunction()" class="dropbtn">INPUT START POINT</button>
            <div id="myDropdown" class="dropdown-content">
              <div class="container forms">
                <div class="row">
                  <div class="col-sm-5">
                    <!-- <form class="container card-3" id="form-perjalanan" action="#" method="post"> -->
                    <form class="form-perjalanan" action="{% url 'routing' %}" method="post" name="form">
                      {% csrf_token %}
                        <select class="select-box" name="dari" id="dari">
                          <option value="" disabled selected>Choose your start point</option>
                          <option value="Cabang Beji">Cabang Beji</option>
                          <option value="Cabang Kutek">Cabang Kutek</option>
                          <option value="Cabang Kukel">Cabang Kukel</option>
                          <option value="Cabang Serengseng">Cabang Serengseng</option>
                          <option value="Cabang Cilodong">Cabang Cilodong</option>
                        </select>
                      <p><button id="done1" class="btn teal" onclick="myFunction()">Done</button></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="dest" class="dropdown1">
            <button onclick="myOFunction()" class="dropbtn1">INPUT DESTINATION POINTS</button>
            <div id="myDropdown1" class="dropdown-content1">
              <div class="container forms">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="container card-3">
                      <div class="form-group1">
                        <input type="text" class="form-control1" name="tujuan" id="d_point" placeholder="your destination points" onfocus="this.placeholder = ''" onblur="this.placeholder = 'your destination points'">
                      </div>
                      <p><button id="done2" class="btn1 teal" onclick="myOFunction()">Done</button></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <button type="submit" class="btn btn-default" id="letsgo">Let's go!</button>
          </div>
          </form>
        </div>
      </content>

      <script>
        /* When the user clicks on the button,
        toggle between hiding and showing the dropdown content */
        function myFunction() {
          console.log("masuk myFunction");
          event.preventDefault();
          document.getElementById("myDropdown").classList.toggle("show");
          if($("#dest").css("marginTop") == "100px"){
            $("#dest").animate({marginTop: "400px"});
          }else{
            $("#dest").animate({marginTop: "100px"});
          }
        }
        function myOFunction() {
          console.log("masuk myOFunction");
          event.preventDefault();
          document.getElementById("myDropdown1").classList.toggle("show");
          if($("#start").css("marginTop") == "130px"){
            $("#start").animate({marginTop: "-180px"});
            console.log("hei");
          }else{
            $("#start").animate({marginTop: "130px"});
            console.log("hei 2");
          }
        }
        // Close the dropdown if the user clicks outside of it

          window.onclick = function(event) {
            if(document.getElementById("myDropdown").classList.contains("show")){
              if (!event.target.matches('.dropbtn') || event.target.matches('#done1')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                console.log("masuk sini");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                  var openDropdown = dropdowns[i];
                  if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                    if($("#dest").css("marginTop") == "400px"){
                      $("#dest").animate({marginTop: "100px"});
                      $("#start").animate({marginTop: "130px"});
                      console.log("masuk sini 4");
                    }
                  }
                }
              }
            } else{
              if (event.target.matches('#done2') || !event.target.matches('.dropbtn1') && !event.target.matches('input')) {
                var dropdowns = document.getElementsByClassName("dropdown-content1");
                console.log("masuk sini 2");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                  var openDropdown = dropdowns[i];
                  if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                    console.log("masuk sini 3");
                    if($("#start").css("marginTop") == "-180px"){
                      $("#start").animate({marginTop: "130px"});
                      $("#dest").animate({marginTop: "100px"});
                      console.log("masuk sini 4");
                    }
                  }
                }
              }
            }
          }

          // $("#form-perjalanan").on("submit", function(event) {
          //   console.log("kesubmit");
          //   // event.preventDefault();
          //   dari = $("#dari").val();
          //   tujuan = $("#d_point").val();
          //   console.log(dari);
          //   console.log(tujuan);
          //   startRouting(dari, tujuan);
          //   // window.location.href="http://localhost:8000/routing";
          // });
          //
          // var startRouting = function(dari, tujuan) {
          //   console.log("sini yuk");
          //   // event.preventDefault();
          //   $.ajax({
          //     method: "POST",
          //     url: "{% url 'routing' %}",
          //     data: {
          //       'dari': dari,
          //       'tujuan': tujuan,
          //     }
          //   })
          //   console.log("udah lewat sini");
          // };

      </script>
  </body>
</html>
