{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Caveat' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet'>

    <title>Laucal Laundry</title>
  </head>

  <style>
    html{
      min-height:100%;
    }
    body{
      background-image:url(https://i.imgur.com/oxR8023.png);
      background-repeat:no-repeat;
      background-size:cover;
      height:100%;
    }
    .row{
      line-height: 400px;
      justify-content:center;
      text-align:center;
      align-items: center;
      height:50vh;
      table-layout: fixed;
      width:100%;
      display:table;
    }
    h1, h2{
      display: table-cell;
      /* vertical-align:middle; */
      margin-top: 100px;
      font-family: "Caveat";
      font-weight: bold;
    }
    h1{
      font-size: 90px;
      padding-top: 210px;
    }
    /* .container {
      height: 10em;
      position: relative
    } */
    /* .container h1 {
      color: white;
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
    } */
    img.displayed {
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-width:200px;
      max-height:400px;
      width: auto;
      height: auto;
    }
    .centered{
      position: absolute;
      top:50%;
      left:50%;
      transform:translate(-50%,-50%);
      font-size: 30px;
      font-family: "Caveat";
    }
    .container{
      position: relative;
      text-align: center;
    }
    .myButton{
    background:url(../static/main/start_navigation.png) no-repeat;
    cursor:pointer;
    border:none;
    width:200px;
    height:400px;
    }
    .myButton:active {
     background:url(../static/main/start_navigation.png) no-repeat;
   }
   .topnav {
     overflow: hidden;
     background-color: #4A4063;
     margin-top: 0px;
     width: 100%;
   }
   .topnav a{
     float: left;
     color: #f2f2f2;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
     font-size: 17px;
     font-family: Comfortaa;
   }

   .topnav a:hover, #logout:hover {
     background-color: #E3D7FF;
     color: #4A4063;
   }

   .topnav a.active, #logout:active {
     background-color: #FFEA35;
     color: #4A4063;
   }
   #logo{
     float: left;
   }

   #logout{
     float: right;
     color: #f2f2f2;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
     font-size: 17px;
     font-family: Comfortaa;
   }
   #tombol {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin-top: 50px;
    }

    #tombol img {
        width: 100%;
        height: auto;
    }

    #tombol .btn {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        background-color: #FFEA35;
        color:#4A4063 ;
        font-family: Caveat;
        font-size: 28px;
        border: none;
        cursor: pointer;
        text-align: center;
    }
  </style>


  <body>
    <content>
      <div class="topnav">
        <img id="logo" src="{% static 'main/logo_laucal.png' %}" alt="logo" style="width:60px;">
        <a id="home" class="active" href="#home">Home</a>
        <a id="sj" href="{% url 'start_journey' %}">Start Journey</a>
        <a id="logout" href="{% url 'logout' %}">Logout</a>
      </div>
      <div class= "container">
        <div class= "row">
          <h1 style="color: white">WELCOME, {{ name }}!</h1>
        </div>
        <div class= "row">
          <div class="container" id="tombol">
            <img class= "displayed" style="left:100%;right:auto;width:100%;" src= "{% static 'main/start_navigation.png' %}" alt= "start">
            <a href="{% url 'start_journey' %}">
            <button class="btn">Start Journey</button>
            </a>
          </div>
        </div>
      </div>
    </content>
  </body>
</html>
